@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.dancingscript{
  font-family: "Dancing Script", cursive;
  
}
html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: brightness(0) invert(1);
}
body{
  background:white !important;
}
@keyframes float {
0%,100%{
transform:translateY(0);
}
50%{
transform:translateY(-10px);
}
}